header {
  width: 100%;
  background: #ce2121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  height: 80px;

  button {
    border: none;
    transition: all 0.3s;
    &:focus {
      transform: scale(1.2);
      outline: #ce2121;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-components {
    display: flex;
    gap: 40px;
    font-size: 20px;

    li {
      list-style: none;
      a {
        color: wheat;
        text-decoration: none;
      }
    }
  }
}
