header {
  width: 100%;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  height: 80px;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-components {
    display: flex;
    gap: 40px;
    font-size: 20px;

    li {
      list-style: none;
      a {
        color: wheat;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    nav {
      order: 2;
    }

    h1 {
      order: 1;
    }

    nav {
      .toggle {
        order: 1;
        width: 140px;
        height: 60px;
        border-radius: 30px;
        background: #4d4d4d;
        position: relative;
        transition: background 0.3s;
        padding: 20px 10px;

        .circle {
          border-radius: 50%;
          background: #fff;
          height: 80%;
          width: 50px;
          position: absolute;
          cursor: pointer;
          top: 50%;
          bottom: 50%;
          transform: translateY(-50%);
          left: 0;
          transition: all 0.3s;
        }
        .carousel {
          left: 100%;
          transform: translate(-100%, -50%);
        }
        &.bg {
          background: #10a0b9;
        }
      }

      .nav-components {
        position: absolute;
        left: 0;
        top: -80px;
        width: 100%;
        background: #333;
        padding: 15px;
        z-index: -1;
        align-items: center;
        justify-content: space-around;
        transition: top 0.3s;
        height: 50px;

        li {
          font-size: 25px;
          padding: 15px;
        }
        &.show {
          top: 80px;
        }
      }

      .toggle-icon {
        display: flex;
        order: 2;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        padding: 10px;

        &:hover {
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.315);
          border-radius: 50%;
        }

        .bar {
          width: 30px;
          height: 4px;
          background-color: wheat;
          transition: all 0.3s;
        }

        .opened {
          filter: brightness(80%);

          &:nth-child(1) {
            transform: rotate(45deg) translate(6px, 6px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(6px, -6px);
          }
        }
      }

      @media screen and (max-width: 470px) {
        .nav-components {
          li {
            font-size: 15px;
            padding: 0px;
          }
        }
      }
    }
  }
}
