.container {
  .header {
    + p {
      background: red;
      span {
        color: white;
      }
    }
  }

  .color-blue {
    color: rgb(10, 223, 78);

    &.text-bold {
      color: rgb(97, 3, 3);
    }
  }
  .daxili-div {
    background-color: red;

    .color-blue {
      color: pink;
    }

    > .color-blue {
      color: black;
    }
  }

  .h3 {
    ~ .paragraph {
      background-color: aquamarine;
    }
  }

  ul {
    .list-2 {
      color: red;
      + li {
        color: pink;
      }
      ~ li {
        color: blue;
      }
    }
  }
  .box {
    abbr[title] {
      color: green;
    }
  }

  nav {
    a {
      text-decoration: none;
    }
    a[target] {
      color: greenyellow;
    }
    a[target='_blank'] {
      color: rgb(39, 57, 135);
      font-weight: 700;
    }

    a[style='width: 40px;'] {
      color: red;
    }
  }

  aside {
    img[alt] {
      padding: 5px;
      margin-right: 2px;
      background: red;
    }
    img[alt~='scss'] {
      padding: 5px;
      margin-right: 2px;
      background: rgb(222, 129, 145);
    }
  }

  div[class|='bo'] {
    background-color: yellow;
  }

  div[class^='box'] {
    background-color: red;
  }

  div[class$='card'] {
    background-color: rgb(19, 140, 176);
  }
  
  div[class*='spider' i] {
    background-color: rgb(176, 19, 50);
  }
}
