$background: #ffffff;
$text-primary: #000;
$text-secondary: #8e05c2;
$accent: #8e05c2;
$border: #333;
$form-bg: #fff;

$dark-background: #000;
$dark-text-primary: #fff;
$dark-text-secondary: #8e05c2;
$dark-accent: #8e05c2;
$dark-border: #808080;
$dark-form-bg: #191919;
